<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners> 
		<listener class-name="QALegendTestcases.Listeners">
		</listener>
	</listeners> 
	<parameter name="Browser" value="Chrome"/>
  <test thread-count="5" name="Test" >
	
<!--<groups>
	<run>
		<include name="smoketest"></include>
	</run>
</groups>--> 
	<classes>
		<class name="QALegendTestcases.TestCases">
    <methods>
<include name="CreatingNewUser"></include>
<include name="DeletingtheAddedUser"></include>
    <include name="RolesAddition"></include>
    <include name="VerifyCustomerGroupAddition"></include>
 <include name="SalesCommissionAdded"></include>
 <include name="VerifyProductBrandAddedSuccessfully"></include>
    <include name="VerifytheVariationAddedsuccessfully"></include>
    <include name="VerifyTheSellingPriceAdded"></include>
    <include name="verifyThatSupplierAdded"></include>
     
      </methods>
    </class>
	</classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
